@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c6d1dd;
  color: hsl(0, 0%, 100%);
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 3em auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.card-1,
.card-5 {
  grid-template-rows: repeat(2, 1fr);
}

/* Box-Start */
.card {
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  background: #6282a7;
  height: auto;
}

.card-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  background: #723fc9;
  color: #f7f0ff;
  padding: 25px;
}
.card-1,
.img {
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-position-x: 80%;
}

.card-3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: -3;
  grid-row-end: -1;
}

.card-5 {
  grid-column-start: 2;
  grid-column-end: 5;
}

/*  */
/*  */
/*  */
/*  */
/*  */

.profile {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 0.7em;
}

.pro-img {
  width: 50px;
  height: 50px;
  border: 3px solid #a674f2;
  border-radius: 50%;
  margin-right: 0.7em;
  cursor: pointer;
}

.pro-name {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
}

span {
  font-size: 1rem;
  color: hsl(0, 0%, 50%);
  font-weight: normal;
}

.card-1 .card-title {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.card-1 .card-disc {
  text-align: left;
  font-size: 1rem;
}

/* Box-2 */

.card-2 {
  padding: 25px;
  width: 280px;
  background: #49556b;
}

.card-2 .card-title {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.card-2 .card-disc {
  text-align: left;
  font-size: 1rem;
}

/* Box-3 */

.card-3 {
  padding: 25px;
  width: 280px;
  background: #ffffff;
  color: #19202c;
}

.card-3 .card-title {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: #19202c;
}

.card-3 .card-disc {
  text-align: left;
  font-size: 1rem;
  color: #22262c;
}

/* Box-4 */

.card-4 {
  padding: 25px;
  width: 280px;
  background: #ffffff;
  color: #19202c;
}

.card-4 .card-title {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1em;
  color: #19202c;
}

.card-4 .card-disc {
  text-align: left;
  font-size: 1rem;
  color: #22262c;
}

/* Box-5 */

.card-5 {
  background: #19202c;
  color: #f7f0ff;
  padding: 25px;
}

.card-5 .card-title {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.card-5 .card-disc {
  text-align: left;
  font-size: 1.051rem;
}

.card-disc {
  line-height: 20px;
  font-weight: 400;
  color: hsl(0, 0%, 70%);
}

@media screen and (width<= 87.625em) {
  .grid-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 100%;
  }

  .card-1,
  .img {
    background-position-x: 100%;
  }
}
